@font-face {
	font-family: roboto;
	src: url(fonts/roboto_light.ttf);
}
@font-face {
	font-family: roboto;
	src: url(fonts/roboto_bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: consola;
	src: url(fonts/consola.ttf);
}

body {
	text-align: center;
	margin: 0 auto;
	align-content: center;
	font-family: roboto;
	font-size: 1.1em;
	color: #AAAAAA;
}
a:link, a:visited {
	color: white;
	text-decoration: none;
}
#navbar {
	padding: 0 5px 0 5px;
}
#navbar:hover {
	background-color: #252525;
}
td {
	text-align: center;
}
p {
	text-align: center;
	width: 800px;
}
#banner{
	position: static;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	line-height: 140px;
	margin-top: 0px;
	margin-bottom: 0px;
	top: 0;
	background-color: #333333;
	height: 200px;
	width: 100%;
	color: white;
}
#spaced {
	width: 1px;
	height: 20px;
	background-color: white;
	font-family: roboto;
	font-weight: bold;
	font-size: 1.6em;
}
#weblinks tr{
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 5px 5px 5px 5px;
}