@font-face { font-family: roboto; src: url(fonts/roboto_light.ttf); }
@font-face { font-family: roboto; src: url(fonts/roboto_bold.ttf); font-weight: bold; }
@font-face { font-family: consola; src: url(fonts/consola.ttf); }


body {
	text-align: center;
	margin: 0 auto;
	align-content: center;
	font-family: roboto;
	font-size: 1.1em;
	color: #AAAAAA;
}
a:link, a:visited { color: white; text-decoration: none; }

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#_title {
	font-family: consola;
	padding: 0; 
	margin: 0; 
	color: white; 
	font-size: 2.3em;
}

#navbar {
	padding: 40px 0 0 0;
}
#navbar li {
	margin: 0;
	padding: 0 4px;
	display: inline;
	text-align: center;
	border-right: 3px solid white;
}
#navbar li:last-child { border-right: none; }

#navbar a {
	padding: 4px 6px;
	margin: 0;
	text-align: center;
}
#navbar a:hover { background-color: #222222; }

#banner{
	padding: 40px 0;
	text-align: center;
	margin: 0;
	background-color: #333333;
	width: 100%;
	color: white;
}